@import url('site.min.css');
@import url('site.css');
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #19171c;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    padding: 10px;
}

h3 {
    color: maroon;
    
    
    font-size: 45px;
    padding: 10px;
    
    
}

/*search field*/

.search-wrapper {
    margin: 30px;
}

.search-container {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

    .search-container input#field {
        margin-left: 37.5%;
        width: 50%;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #fff;
        padding-left: 15px;
    }

    .search-container input#field::-webkit-input-placeholder {
        color: #65737e;
    }

    .search-container input#field:-moz-placeholder { /* Firefox 18- */
        color: #65737e;
    }

    .search-container input#field::-moz-placeholder { /* Firefox 19+ */
        color: #65737e;
    }

    .search-container input#field:-ms-input-placeholder {
        color: #65737e;
    }

.search-container button.icon {
    border: none;
    background: #232833;
    height: 48px;
    width: 48px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    border-radius: 0;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

    .search-container:hover button.icon, .search-container:active button.icon, .search-container:focus button.icon {
        outline: none;
        opacity: 1;
        margin-left: -49px;
        margin-top: 1px;
    }

        .search-container:hover button.icon:hover {
            background: white;
        }

/* information about current word */

#word-container {
    padding-left: 80px;
    margin-top: 30px;
}

#info {
    width: 80%;
    height: 30px;
    margin-top: 30px;
    font-size: 30px;
    color: #a19f9c;
}

#info p {
    float: left;
    padding-right: 10px;
}
    #info p:first-child { /*category*/
    font-family: Courier, Helvetica, Serif;
    font-style: italic;
    vertical-align: middle;
}
    #info p:nth-child(2) { /*separator*/
    font-weight: bold;
}
    #info p:nth-child(3) { /*the baseword*/
    font-weight: bold;
    font-family: Courier, Helvetica, Serif;
}

/* country flags */

#country-con ul {
    margin-top: 30px;
    margin-right: 0;
    padding: 0;
    list-style-type: none;
}

    #country-con ul li {
        float: right;
    }

/* lemmas */

.lemma-wrapper {
    float: left;
}

.lemma-words {
    color: mediumslateblue;
    font-size: 12px;
    line-height: 13px;
    padding: 5px;
    margin: 15px;
    font-style: italic;
    background-color: #19171c;
    border: 0.2px solid #19171c;
    text-decoration: underline;
}

.lemma-headline {
    text-align: center;
}

/* carousel */

.carousel-container {
    width: 95%;
}
    .carousel-container p {
        color: #a19f9c;
    }

.slider-for {
    visibility: hidden;
}

.slider-nav h1 {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.slider-nav .slick-slide {
    border: 1px solid #65737e;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
}


.carosel-item {
    border: 10px solid #65737e;
    background-color: #19171c;
    color: white;
    height: 48px;
    font-size: 12px;
    border: 0;
}

.slider-nav .slick-slide:hover {
    border-color: white;
}

.slider-nav .slick-slide:active {
    background-color: grey;
}

.slick-dots li button:before {
    color: white;
    opacity: 0.8;
    height: 12px;
    width: 12px;
}

/* signature */

#signature {
    width: 100%;
    height: 30px;
}

#signature div {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

#signature div:first-child {  /* purple dash*/
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 5px;
    width: 30px;
    background-color: #3C0E62;
}

#signature div:nth-child(2) {
    color: white;
}

#signature div:nth-child(3) { /* yellow dash*/
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 5px;
    width: 30px;
    background-color: #AD810C;
}

#signature div:nth-child(4) { 
    color: white;
}

/* synonym / subsynonym buttons*/

.syn-container {
    margin-top: 0px;
}


.btn-syn {
    margin: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: Josefin Slab, Helvetica, Serif;
    font-size: 18px;
    padding: 12px 35px;
    text-decoration: none;
    color: white;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: 3px solid #3C0E62;
}

.btn-syn:hover {
    background-color: #3C0E62;
    border-color: white;
        
}

.btn-sub-syn {
    margin: 4px;
    display: inline-block;
    cursor: pointer;
    color: rgb(37, 62, 19);
    font-family: Josefin Slab, Helvetica, Serif;
    font-size: 18px;
    padding: 12px 35px;
    text-decoration: none;
    color: white;
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: 3px solid #AD810C;
}

.btn-sub-syn:hover {
    background-color: #AD810C;
    border-color: white;
}


/* example / antonym*/
.example-container {
    margin-top: 30px;
}

    .example-container p {
        margin-left: 80px;
        color: white;
        font-style: italic;
    }

    .example-container hr {
        margin-left: 80px;
    }


/* divider between content and footer*/
.hr-bottom { 
    border-color: mediumslateblue;
    width: 100%;
}


.fa-caret-right {
    padding-left: 5px;
    font-size: 25px;
}

.fa-caret-left {
    padding-right: 5px;
    font-size: 25px;
}


/*-FOOTER-*/

.footer-text {
    color: #999;
    font-size: 12px;
}

.fa-star {
    color: #1DD9FF;
}

.footer-left {
    width: 400px;
    line-height: 30px;
    height: 30px;
    color: white;
    float: left;
    
}

.footer-right {
    float: left;     
}
