@{
    ViewData["Title"] = "Info";
}

<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

<div id="infoContainer"> 
    <p style="color: white">
        <br /> <br />

        This site was created for educational purposes and for my personal training in webdevelopment. <br/> <br/>

        As the Oxford Dictionary API free license only allows 3000 API calls a month I currently have no intentions of turning this into a comercial site. <br/> <br/>

        If you have any feedback, questions or other inqueries you can reach me at jonakirke94@gmail.com

        <br/> <br/>
        <br/> <br/>


    </p>
</div>
